<div class="app">
    <%- include('./partials/navbar.ejs') %>
    <div class="pagecontent">
        <div class="tabtitle">
            <h2>Dashboard</h2>
            <a href="/tasks/create" id="createtaskbutton">Create a task</a>
        </div>
        <div class="tabpage">
                <h4>Tasks due today:</h4>
            <div class="task inlinecheck">
                <div>
                    <% tasksDueToday.forEach(task => { %>
                        <p class="task-name"><%= task.taskName %> </p>
                        <form action="/dashboard/<%= task.id  %>/done" method="POST">
                            <button class="complete-btn" type="submit" name="taskCompleted"></button>
                        </form>
                    <% }) %>
                </div>
                <div>
                    <% sharedTasksDue.forEach(task => { %>
                        <p class="task-name"><%= task.taskName %> </p>
                            <form action="/dashboard/<%= task.id  %>/done" method="POST">
                                <button class="complete-btn" type="submit" name="taskCompleted"></button>
                            </form>
                        <% }) %>
                </div>
                <div>
                    <a class="viewalllink" href="/tasks">View all tasks</a>
                </div>
            </div>
        </div>
    </div>
</div>
