<div class="app">
    <%- include('./partials/navbar.ejs') %>
    <div class="pagecontent">
        <div class="tabtitle">
            <h2>Dashboard</h2>
        </div>
        <div class="tabpage">
            <div class="twocolumnscontainer">
                <div class="leftcolumn">
                    <h2>Tasks due today:</h2>
                    <div class="task">
                        <% tasksDueToday.forEach(task => { %>
                            <p><%= task.taskName %> </p>
                            <form action="/dashboard/<%= task.id  %>/done" method="POST">
                                <button class="complete-btn" type="submit" name="taskCompleted"></button>
                            </form>
                        <% }) %>
                        <% sharedTasksDue.forEach(task => { %>
                        <p><%= task.taskName %> </p>
                            <form action="/dashboard/<%= task.id  %>/done" method="POST">
                                <button class="complete-btn" type="submit" name="taskCompleted"></button>
                            </form>
                        <% }) %>
                        <a href="/tasks">View all tasks</a>
                    </div>
                </div>
                <div class="rightcolumn">
                    <a class="button" id="createtaskbutton" href="/tasks/create">Create a task</a>
                </div>
            </div>
        </div>
    </div>
</div>