<%- include('./partials/navbar.ejs') %>
<h2>Edit Task</h2>
<form action="<%= `/tasks/${oneTask.id}/edit` %>" method="POST">
    <label>Task name:<input type="text" name="taskName" value="<%= oneTask.taskName  %>" required/></label>
    <label>Due date:<input type="date" name="dueDate" value="<%= oneTask.dueDate.toISOString().slice(0,10) %>" required/></label>
    <label>New collaborator:<input type="text" name="collaborators"  %>"/></label>
    <p>Current collaborators: 
        <ul>
            <% oneTask.collaborators.forEach(collaborator => { %>
             <li><%= collaborator  %> </li>
            <% }) %>
        </ul>
    </p>
    <button type="submit">Edit</button>
</form>

<% if (typeof errorMessage !== "undefined") { %>
    <p><%= errorMessage  %> </p>
   <% } %>


   