<div class="app">
    <%- include('./partials/navbar.ejs') %>
    <div class="pagecontent">
        <div class="tabtitle">
            <h2>Completed Tasks</h2>
        </div>
        <div class="tabpage">
        <h3>Your Completed Tasks</h3>
        <% pastTasks.forEach(task => { %>
            <div class="task">
                <p class="task-name"><%= task.taskName  %> </p>    
                <p id="texttasks" class="textpadding">Due date: <%= task.dueDate.toDateString()  %> </p>
            </div>
        <% }) %>


        <h3>Shared Completed Tasks</h3>
        <% sharedTasksDone.forEach(task => { %>
            <div class="task">
                <p class="task-name"><%= task.taskName  %> </p>    
                <p id="texttasks" class="textpadding">Due date: <%= task.dueDate.toDateString()  %> </p>
                <p id="texttasks">Collaborators: <%= task.collaborators  %> </p>
            </div>
        <% }) %>
        </div>
    </div>
</div>
