<%- include('./partials/navbar.ejs') %>
<h2>Tasks list</h2>
<a href="/tasks/create">Create a task</a>

<% allDueTasks.forEach(task => { %>
    <p>Task Name: <%= task.taskName  %> </p>    
    <div>
        <form action="/tasks/<%= task.id  %>/done" method="POST">
            <button type="submit" name="taskCompleted"></button>
        </form>
    </div>
    <p>Due date: <%= task.dueDate.toDateString()  %> </p>
    <p>Collaborators: <%= task.collaborators  %> </p>
    <a href='<%= `/tasks/${task.id}/edit` %> '>Edit</a>
    <form action="/tasks/<%= task.id  %>/delete" method="POST">
        <button>Delete</button>
    </form>
<% }) %>

    
