<h2>Task list</h2>
<a href="/tasks/create">Create a task</a>
<a href="/dashboard">Dashboard</a>

<div>
    <% allTasks.forEach(task => { %>
        <div class="task">
            <p>Task Name: <%= task.taskName  %> </p>
            <p>Created at: <%= task.createdAt.toDateString()  %> </p>
            <p>Due date: <%= task.dueDate.toDateString()  %> </p>
            <a href='<%= `/tasks/${task.id}/edit` %> '>Edit</a>
            <a href='<%= `/tasks/${task.id}/delete` %> '>Delete</a>
        </div>
    <% }) %>
</div>